<%- include("partials/header") -%>
<!-- 
    <h1>About Us</h1>
    <p>
        <%= aboutContent %>
    </p> -->

    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container bottomContainer">
            <div class="ultimateImg">
                <img class="mainImg" src="https://lh3.googleusercontent.com/-Cd_BklHK1AU/YdwbiIdInFI/AAAAAAAAABo/W4QUFiHydQodQlfsSmqeRc7Om469DYSOACNcBGAsYHQ/w432-h304/1641814917184083-0.png">
                <div class="purpleBox">
                    <p class="purpleText">
                        I blend programming expertise with design flair to create captivating and functional user interfaces.
                    </p>
                    <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
                </div>
            </div>
            <div class="allText bottomText">
                <p class="text-blk headingText">
                    About Me
                </p>
                <p class="text-blk subHeadingText">
                    A young boy driven by a Fascination for Web Technology.
                </p>
                <p class="text-blk description">
                    Greetings! I'm Balaji Rai currently pursuing B.Tech from IIIT Trichy, passionate about exploring the diverse realms of technology. As a dedicated learner, I thrive on challenges and am excited to unravel the wonders of the digital world.
                </p>
                <a class="explore">
                    View Services
                </a>
            </div>
        </div>
    </div>

    <%- include("partials/footer") -%>